/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a {
        padding: .5rem 1rem;
    }
    
    .body-grid {
        display: grid;
        grid-template-columns: 25vw 45vw 25vw;
    }
    
    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    
    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    #spotlight-container {
        grid-column: 3/4;
        grid-row: 1/4;
        display: block;
    }
    
    #sl-three {
        display: block;
    }

    #sl-one, #sl-two, #sl-three {
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .banner {
        font-size: 30px;
    }
    
    #heroImg {
        display: inline;
        width: 200%;
        overflow: hidden;
        }

        .heroJoinButton {
            width: 40%;
            font-size: 2vw;
        }

    .absContainer {
        max-width: 100%; 
        overflow: hidden;
        text-indent: -230px;
    }

    /* Discover Page */

    .discoverImage {
        width: 90%;
    }

    .discoverImage img {
        width: 100%;
        height: 100%;
    }

    .caption {
        width: 95%;
    }


    #cityInfo {
        width: 60%;
        float: left;
    }

    #pictureHolder {
        width: 35%;
        float: right;
    }

    form fieldset {
        width: 320px;
    }

    /* -------- TABLE ------- */

    .joinGrid {
        grid-template-columns: 47% 53%;
    }

    table {
        font-size: 1rem;
        float: left;
        width: 100px;
        margin: 20px;
    }

    form.joinForm {
        margin-left: 10vw;
        width: 325px;
    }

    .contact {
        grid-template-columns: 2fr 2fr 1fr;
    }

    #contact_membership {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #contact_form {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #contact_methods {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }


    }  /* end large */