@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Khula&display=swap');

body {
    background-color: #fff8dc;
    /* display: flex; */
    font-family: 'Khula', sans-serif;
}

header div {
    display: flex;
    padding: 10px 0;
    color: #ff0000;
}

#title {
    display: grid;
    grid-template-rows: 40% 20%;
    margin: auto;
}

#title h1 {
    font-size: 4vw;
    font-family: 'Gentium Book Plus', serif;
}

#title p {
    font-size: 3.5vw;
    margin: 15px 0;
}

#primaryNav a:hover {
    background-color: #fff8dc;
}

header ul {
    margin: 0;
    padding: 0;
}
nav button {
    font-size: 2rem;
    margin: .2rem 2vw;
    background: transparent;
    color: #f03;
    border: none;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

header li {
    list-style-type: none;
    width: 100%;
    box-shadow: 0 2px 15px grey;
}

.social-media {
    float: right;
    margin-bottom: -5px;
}

.social-media img {
    height: 30px;
}

footer {
    padding: 20px;
    text-align: center;
    color: #f03;
}

.footer h2 {
    font-family: 'Gentium Book Plus', serif;
}

.footer h2, h4, p, h3 {
    margin: 2px;
}

.footer a {
    color: #e01;
}

li a {
    display: block;
    background-color: #f5f5f5;
    color: red;
    text-decoration: none;
    padding-top: 3px;
    text-align: center;
    font-size: 1.3em;
    height: 35px;
    font-family: 'Gentium Book Plus', serif;
}

.info {
    background-color: #fff8dc;
    font-size: 1em;
    height: auto;
}

.logo {
    display: block;
    max-height: 75px;
    padding: 0 20px;
    margin: auto;
}

#heroImg {
    width: 100%;
    padding: 0;
}

.absContainer {
    position: relative;
}

.heroJoinButton {
    position: absolute;
    background-color: #ff0000;
    right: 10%;
    bottom: 15%;
    z-index: 1;
    font-size: 1.2em;
    color: #fff8dc;
    padding: 2%;
}

.heroJoinButton:hover {
    background-color: #fff8dc;
    color: #ff0000;
}

#join div {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.joinBoxButton {
    width: 90%;
    padding: 2%;
    border: solid 2px #ff0000;
    border-radius: 10px;
    background-color: #f03;
    color: #F8F07D;
    font-size: 2rem;
    font-family: 'Gentium Book Plus', serif;
    font-weight: 700;
}

.joinBoxButton:hover {
    background-color: #fff8dc;
    color: #f03;
}

#event, #weather, #news, #spotlight-container, #sl-one, #sl-two, #sl-three, #join {
    box-shadow: 0 2px 15px #e01;
    padding: 10px;
    margin: 20px;
    color: #f03;
    background-color: #F8F07D;
}

#weather {
    width: 40%;
    margin: auto;
}

.weatherCallouts {
    float:left;
}

.weatherDetails {
    text-align: center;
}

hr {
    height: 2px;
    background-color: #fff8dc;
    border: none;
}

.sl-logo {
    font-size: 5em;
    margin: 0;
    text-align: center;
}

#st-one {
    font-size: 1.2em;
}

#join {
    display: none;
}

body h3 {
    font-family: 'Gentium Book Plus', serif;
}

.location img {
    height: 4vw;
    max-height: 32px;
    display: inline;
}

.location {
    text-decoration: none;
}

.banner {
    font-size: 14px;
    background-color: #F8F07D;
    position: fixed;
    top: 0;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
}


#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
