@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Khula&display=swap');

:root {
    --cream: #fff8dc;
    --bkgYellow: #fff8a7;
    --fontYellow: #f8f07D;
    --red: #f00;
    --darkRed: #ab0404;
    --redHighlight: #e01;
}

body {
    background-color: var(--cream);
    font-family: 'Khula', sans-serif;
}

header div {
    display: flex;
    padding: 10px 0;
    color: var(--red);
}

#title {
    display: grid;
    grid-template-rows: 40% 20%;
    margin: auto;
}

#title h1 {
    font-size: 4vw;
    font-family: 'Gentium Book Plus', serif;
}

#title p {
    font-size: 3.5vw;
    margin: 15px 0;
}

#primaryNav a:hover {
    background-color: var(--cream);
}

header ul {
    margin: 0;
    padding: 0;
}
nav button {
    font-size: 2rem;
    margin: .2rem 2vw;
    background: transparent;
    color: var(--darkRed);
    border: none;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

header li {
    list-style-type: none;
    width: 100%;
    box-shadow: 0 2px 15px grey;
}

.social-media {
    float: right;
    margin-bottom: -5px;
}

.social-media img {
    height: 30px;
}

footer {
    padding: 20px;
    text-align: center;
    color: var(--darkRed);
    position: relative;
    clear: both;
}

.footer h2 {
    font-family: 'Gentium Book Plus', serif;
}

.footer h2, h4, p, h3 {
    margin: 2px;
}

.footer a {
    color: var(--darkRed);
}

li a {
    display: block;
    background-color: #f5f5f5;
    color: var(--darkRed);
    text-decoration: none;
    padding-top: 3px;
    text-align: center;
    font-size: 1.3em;
    height: 35px;
    font-family: 'Gentium Book Plus', serif;
}

.info {
    background-color: var(--cream);
    font-size: 1em;
    height: auto;
}

.logo {
    display: block;
    height: 20vw;
    padding: 0 20px;
    margin: auto;
}

#heroImg {
    width: 100%;
    padding: 0;
}

.absContainer {
    position: relative;
}

.heroJoinButton {
    position: absolute;
    background-color: var(--red);
    right: 10%;
    bottom: 15%;
    z-index: 1;
    font-size: 1.2em;
    color: var(--cream);
    padding: 2%;
    width: 25%;
    font-size: 2.5vw;
}

.heroJoinButton:hover {
    background-color: var(--cream);
    color: var(--red);
}

#join div {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.joinBoxButton {
    width: 90%;
    padding: 2%;
    border: solid 2px var(--red);
    border-radius: 10px;
    background-color: var(--darkRed);
    color: var(--fontYellow);
    font-size: 2rem;
    font-family: 'Gentium Book Plus', serif;
    font-weight: 700;
}

.joinBoxButton:hover {
    background-color: var(--cream);
    color: var(--darkRed);
}

#event, #weather, #news, #spotlight-container, #sl-one, #sl-two, #sl-three, #join {
    box-shadow: 0 2px 15px var(--redHighlight);
    padding: 10px;
    margin: 20px;
    color: var(--darkRed);
    background-color: var(--bkgYellow);
}

#weather {
    width: 60%;
    margin: auto;
}

#weather h2, #weather h4 {
    text-align: center;
}

#weather h2 img {
    width: 90px;
    margin-bottom: -30px;
}



.weatherCallouts {
    float:left;
}

.weatherDetails {
    text-align: center;
}

hr {
    height: 2px;
    border: none;
}

.hr_dark {
    background-color: var(--darkRed);
}

.hr_light {
    background-color: var(--cream);
}

.sl-logo {
    font-size: 5em;
    margin: 0;
    text-align: center;
}

#st-one {
    font-size: 1.2em;
}

#join {
    display: none;
}

body h3 {
    font-family: 'Gentium Book Plus', serif;
}

.location img {
    height: 4vw;
    max-height: 32px;
    display: inline;
}

.location {
    text-decoration: none;
}

.banner {
    font-size: 14px;
    background-color: var(--bkgYellow);
    top: 0;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
}



#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* Discover Page */

.discoverImage {
    width: 80vw;
    padding: 20px;
}

.discoverImage img {
    width: 100%;
    height: 100%;
}


.caption {
    padding: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 15px var(--redHighlight);
    color: var(--darkRed);
    font-family: 'Khula', sans-serif;
    text-align: center;
    width: 95%;
}

.caption p {
    margin-bottom: 12px;
}

#cityInfo {
    background-color: var(--bkgYellow);
    color: var(--darkRed);
    padding: 10px;
    border: 2px solid var(--redHighlight);
    margin-left: 5px;
}

#cityHeading {
    text-align: center;
    font-family: 'Gentium Book Plus', serif;
}

#cityHeading h1 {
    font-size: 4em;
    margin: 12px 0;
}

.listSection h4 {
    font-size: 1.8em;
    margin-bottom: 5px;
    font-family: 'Gentium Book Plus', serif;
}

.listSection h5 {
    font-weight: 800;
    padding-left: 15px;
    margin: 4px 0;
    font-size: 1em;
}

.listSection {
    margin-bottom: 18px;
}
.listSection p {
    margin-bottom: 8px;
    padding-left: 20px;
}

#decoratedList li {
    margin-bottom: 2px;
    list-style: square;

}

/* -------- THANKYOU ------- */
  
#thankyou {
    text-align: center;
    color: var(--redHighlight);
    font-family: 'Khula', sans-serif;
}


/* -------- FORM -------- */

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--darkRed);
    border-radius: 10px;
    padding: .75rem 2%;
    max-width: 400px;

}

form legend {
    color: var(--redHighlight);
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-size: 1.3rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
}

form label.top input, form label.top select, textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px var(--fontYellow);
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: Black;
    font-weight: 700;
}


form input.submitBtn {
    border: none;
    background-color: var(--darkRed);
    color: var(--fontYellow);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.4rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/* -------- TABLE ------- */

.membershipLevels {
    display: none;
}

table {
    margin: 10px auto;
    border: thin solid black;
    border-collapse: collapse;
    text-align: center;
    width: 500px;
    height: 220px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
    border: 1px solid black;
}

td, th {
    padding: 15px 15px;
}

td {
    border: 1px solid #888;
}

th {
    background-color: var(--redHighlight);
    color: --fontYellow
}

.tableHead {
    background-color: var(--darkRed);
    border: 1px solid var(--fontYellow);
}

tr:nth-child(even) {
    background-color: rgba(255, 0, 51, 0.2);
}

tr:nth-child(odd) {
    background-color: rgba(248, 240, 125, 0.2);
}

td:nth-child(even) {
    background-color: rgba(255, 0, 51, 0.1);
}

/* -------- Directory -------- */

div.directoryControl {

    text-align: center;
    padding: 20px;
    align-content: center;
    font-family: 'Gentium Book Plus', serif;
}

div.directoryControl button {
    margin: 20px;
    width: 5rem;
    height: 2.5rem;
    background-color: var(--darkRed);
    color: var(--fontYellow);
    font-weight: 800;
    letter-spacing: 1.5px;
}

div.cards {
    color: #9c2c13;
    font-family: 'Khula', sans-serif;
}

div.cards section h2 {
    font-family: 'Gentium Book Plus', serif;
}

div.cards section p {
    margin-top: 8px;

}

div.directoryControl button:hover {
    background-color: rgba(255, 0, 51, 0.6);
}

div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 5px;
}

div.grid .address, div.grid .phone, div.grid section h4.long  {
    display: block;
}

div.grid section h4.short {
    display: none;
}

div.list {
    display: flex;
    flex-direction: column;
}

div.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

div.list img, .address, .phone, div.list section h4.long  {
    display: none;
}

div.list section:nth-child(even) {
    background-color: rgba(248,240,125,0.5);
}

section.member {
    background-color: var(--bkgYellow);
    padding: 10px 0;
    text-align: center;
}

.Gold, .Silver, .Bronze, .Non-Profit {
    height: 30px;
    align-self: center;
    line-height: 30px;
    background-color: rgba(0,0,0,0.8);
    max-width: 320px;
    min-width: 70px;
    margin: auto;
}

.joined {
    margin-top: 20px;
}

h4.Gold {
    color: gold;
}

h4.Silver {
    color: silver;
}

h4.Bronze {
    color: chocolate;
}

h4.Non-Profit {
    color: mediumorchid;
}

