.image_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_column img {
    width: 300px;
    padding: 30px;
    filter: blur(0em);
    transition: filter 0.5s;
}

.image_column img[data-src] {
    filter: blur(0.2em);
}

h1 {
    text-align: center;
}